body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:black;
  text-align: center;
}
header {
  background-color: #ffcc00;
  color: #333;
  padding: 20px;
  font-size: 24px;
}

.pet-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.pet-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}